img{
    padding: 10;
    height:auto;
    width: auto;
    margin-top: 100px;
    margin-left: 100px;




}


h1{
    color:aliceblue;
    background-color: blueviolet width=500px;
    background-blend-mode:color-dodge;
    font-style: italic;
    background-position: 200px;
    font-weight: 200;





}
*{



    background-image: ;
}